@font-face { font-family: Cherolina; src: url('./Fonts/coolvetica.ttf'); } 
@font-face { font-family: Roboto; src: url('./Fonts/Roboto-Thin.ttf'); } 
@font-face { font-family: RobotoR; src: url('./Fonts/Roboto-Regular.ttf'); } 

:root{
    --white: #ffffff;
    --dark: #90323d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8edeb;
}

header {
    padding: 2%;
    font-family: Cherolina;
    background-color: var(--dark);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 70px;
    margin-left: 20px;
    margin-bottom: 10px;
}

header section {
    padding-top: 40px;
    float: right;
    font-family: Roboto;
    font-size: 20px;
}

header section ul {
    list-style-type: none;
}

header section ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-img{
    margin: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    opacity: 70%;
    background-image: url("./Images/header.png");
}


header section a {
    color: var(--white);
    text-decoration: none;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#about-me-div{
    font-family: roboto;
    display:flex;
    align-items: flex-end;
    flex-basis: 60%;
    flex-direction: column;
    padding: 30px;
}

#about-me-div p{
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
}

.about-me-img{
    flex-basis: 20%;
}

.content h2{
    font-family: cherolina;
    color: var(--dark);
    font-size: 60px;
    margin: 0 100px 0 100px;
    border-bottom: 2px solid var(--white);
}

.content img{
    width: 550px;
    height: 360px;
    background-size: cover;
    margin: 50px 0 50px 0;
}

.content ul {
    list-style-type: none;
    background-color: rgba(255,255,255,.70);
    height: 30%;
    margin-top: 90px;
    overflow: auto;
}

.content li {
    display: inline;
    font-family: roboto;
    margin: 70px 50px 50px 50px;
    float: right;
}

.content a {
    text-decoration: none;
    color: black;
    border-bottom: .5px solid black;
    font-size: 20px;
}

#work a{
    border-bottom: 0px;
}


#first-web{
    flex-basis: 100%;
    min-height: 400px;
    width: 100%;
}


.work-img{
    padding: 10px;
    display: flex;
    opacity: 100%;
    align-items: flex-end;
    margin-top: 0;
} 

.work-img:hover{
    opacity: 70%;
}

#first-web:hover{
    opacity: 70%;
}

.work-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container{
    position: relative;
}

.imageText{
    bottom: 60px;
    left: 16px;
    color: var(--white);
    background-color: rgba(144, 50, 61, .90);
    position: absolute;
    font-family: roboto;
    font-size: 30px;
    PADDING: 10px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
    font-family: Cherolina;
    background-color: var(--dark);
}

footer h2 {
    font-size: 30px;
    color: var(--white);
}