/*Downloaded and imported fonts for a more personalized result*/
@font-face { font-family: Cherolina; src: url('./Fonts/coolvetica.ttf'); } 
@font-face { font-family: Roboto; src: url('./Fonts/Roboto-Thin.ttf'); } 
@font-face { font-family: RobotoR; src: url('./Fonts/Roboto-Regular.ttf'); } 

/*Created variables for the color palette since they are utilised throughout the proyect*/
:root{
    --white: #ffffff;
    --dark: #90323d;
}

/*Created a basic global selector to standardize*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Gave the whole body a uniform background color*/
body {
    background-color: #f8edeb;
}

/*Styling of the header*/
header {
    padding: 20px 0;
    font-family: Cherolina;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    min-height: 100px;
}

/*Styling of h1 used inside of the header*/
header h1 {
    /*
    display: inline-block;*/
    font-size: 70px;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: flex-start;
}


/*Styling and positioning of the ul inside of the header, used % and flexbox for it to be responsive to sizing*/
header ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 30px;
    padding-left: 50%;
    padding-top: 3%;
}

/*Styling of the a tags inside of the header*/
header a {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

/*Styling and positioning of the image below the header, I used a background imahe */
.header-img{
    margin: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    opacity: 70%;
    background-image: url("./Images/header.png");
}

/*Definition of flexboxes for every section in the page*/
.sections{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Styling and positioning of the title and text in the "about me" section*/
#about-me-div{
    font-family: roboto;
    display:flex;
    align-items: flex-end;
    flex-basis: 60%;
    flex-direction: column;
    padding: 30px;
}
/*Styling of the p inside the about me section*/
#about-me-div p{
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
}

/*Setting initial size of the image*/
.about-me-img{
    flex-basis: 20%;
}

/*Styling of the h2 used inside the content class*/
.content h2{
    font-family: cherolina;
    color: var(--dark);
    font-size: 60px;
    margin: 0 100px 0 100px;
    border-bottom: 2px solid var(--white);
}

/*Definition of all of the images inside the content class*/
.content img{
    width: 550px;
    height: 360px;
    background-size: cover;
    margin: 50px 0 50px 0;
}

/*Styling of the ul inside the content class*/
.content ul {
    list-style-type: none;
    background-color: rgba(255,255,255,.70);
    height: 30%;
    margin-top: 90px;
    overflow: auto;
}

/*Styling of the li inside the content class*/
.content li {
    display: inline;
    font-family: roboto;
    margin: 70px 50px 50px 50px;
    float: right;
}

/*Styling of the a inside the content class*/
.content a {
    text-decoration: none;
    color: black;
    border-bottom: .5px solid black;
    font-size: 20px;
}

/*Styling of the ul inside the work id*/
#work a{
    border-bottom: 0px;
}

/*Styling of the unique image (firstt image) of the work section*/
#first-web{
    flex-basis: 100%;
    min-height: 400px;
    width: 100%;
}

/*Styling of the every image inside the work section class*/
.work-img{
    padding: 10px;
    display: flex;
    opacity: 100%;
    align-items: flex-end;
    margin-top: 0;
} 

/*Hover functionality for images inside the work sections*/
.work-img:hover{
    opacity: 70%;
}

/*Container of the work section for images to be displayed correctly*/
.work-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Container of the image for text to be displayed correctly*/
.image-container{
    position: relative;
}

/*Positioning and styling of the text positioned over the images in the work section*/
.imageText{
    bottom: 60px;
    left: 16px;
    color: var(--white);
    background-color: rgba(144, 50, 61, .90);
    position: absolute;
    font-family: roboto;
    font-size: 30px;
    PADDING: 10px;
}

/*Styling and positioning of the footer*/
footer {
    padding: 30px;
    clear: both;
    text-align: center;
    font-family: Cherolina;
    background-color: var(--dark);
}

/*Styling and positioning of the h2 used inside the footer*/
footer h2 {
    font-size: 30px;
    color: var(--white);
}